* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.backImage {
    background-image: url("https://mario5.florian-rappl.de/Content/backgrounds/05.png");
    background-size: cover;
}
img {
    opacity: 1;
    height: 33vh;
    width: auto;
}
.img {
    height: 5vh;
    width: auto;
}
h2 {
    display: inline-block;
    margin-right: 15px;
    font-size: 3vh;
}
h4 {
    display: inline-block;
    font-size: 2.5vh;
}
h1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 10vh;
}
.subTitle {
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 4.5vh;

    margin-left: auto;
    margin-right: auto;
}
h3 {
    display: inline-block;
    font-size: 2vh;
}
div {
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 25%;

    padding: 25px;
}
.button {
    width: 6.5vh;
    height: 4vh;
    border-radius: 50%;
    background-color: rgba(18, 190, 2);
    font-size: 20px;
}
input {
    border-style: outset;
    border-radius: 50%;
    text-align: center;
    height: 3vh;
    width: 12vh;
    font-size: 2.6vh;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
footer {
    margin-top: 50pt;
    text-align: center;
    background-color: rgba(0, 238, 255, 0.274);
    width: 100%;
}
ul {
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    text-align: center;
    width: 100%;
}
li {
    display: inline-block;
    text-align: center;
    padding-right: 4%;
    padding-left: 4%;
}
li a {
    display: inline-block;
    color: black;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
    color: rgb(20, 0, 196);
}
.answer {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* footer {
    text-align: center;
    margin-top: 41px;
    background-color: rgba(68, 27, 216, 0.65);
}
ul {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    width: 100%; 
}
li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    padding-right: 4%;
    padding-left: 4%;
   
} */